<!-- START JUMBOTRON -->
<div class="jumbotron no-margin">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <h3>Settings</h3>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<div class="container-fluid container-fixed-lg">

  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
    <li>
      <p>Users</p>
    </li>
    <li>
      <span class="active">{{model.name}}</span>
    </li>
  </ul>
  <!-- END BREADCRUMB -->

</div>


<div class="container-fluid container-fixed-lg">
  <div class="row">

    <div class="col-md-7">
      <!-- START PANEL -->
      <div class="panel panel-default full-height">
        <div class="panel-heading">
          <div class="panel-title">
            User Profile
          </div>
        </div>
        <div class="panel-body">
          <h5>Update your profile info</h5>
          <form {{action 'updateProfile' on='submit'}} class="validated">
            <div class="form-group form-group-default required">
              <label>Name</label>
              {{input type='text' value=name class='form-control' required=true}}
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-group-default">
                  <label>Company/Organization</label>
                  {{input type='text' value=company placeholder='Cool Stuff Inc.' class='form-control'}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-group-default">
                  <label>Location</label>
                  {{input type='text' value=location placeholder='Awesome City, Planet Earth' class='form-control'}}
                </div>
              </div>
            </div>
            <div class="form-group form-group-default">
              <label>Bio</label>
              {{textarea value=description placeholder='Tell us about yourself' class='form-control' style='height:70px;'}}
            </div>

            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
        </div>
      </div>
      <!-- END PANEL -->
    </div>

    <div class="col-md-5">
      <!-- START PANEL -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Email Address
          </div>
        </div>
        <div class="panel-body">
          <!--
          <p class="small hint-text"><strong>Note:</strong> An activation token will be sent to the current email address on record. You must activate the new address before it will take effect.</p>
          -->
          <form {{action 'updateEmail' on='submit'}} class="validated">
            <div class="form-group form-group-default required ">
              <label>Email</label>
              {{input type='email' value=model.email class='form-control' required=true}}
            </div>

            <button type="submit" class="btn btn-complete">Update Email</button>
          </form>
        </div>
      </div>
      <!-- END PANEL -->

      <!-- START PANEL -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Password
          </div>
        </div>
        <div class="panel-body">

          <form {{action 'updatePassword' on='submit'}} class="validated">
            <div class="form-group form-group-default required ">
              <label>New Password</label>
              {{input type='password' value=password placeholder='Must be 8 or more characters' class='form-control' required=true minlength='8'}}
            </div>

            <div class="form-group form-group-default required ">
              <label>New Password Confirmation</label>
              {{input type='password' value=passwordConfirmation class='form-control' required=true minlength='8' equalto='#user_password'}}
            </div>

            <button type="submit" class="btn btn-danger">Change Password</button>
          </form>
        </div>
      </div>
      <!-- END PANEL -->
    </div>

  </div>
</div>
