<!-- START JUMBOTRON -->
<div class="jumbotron no-margin" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <h3>Explore Artifacts</h3>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->


<div class="container-fluid container-fixed-lg">
  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
    <li>
      <p>Artifacts</p>
    </li>
    <li><span class="active"><strong>{{startEntry}} - {{endEntry}}</strong> of {{total}}</span>
    </li>
  </ul>
  <!-- END BREADCRUMB -->

  <div class="dataTables_wrapper">
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <th style="width:10%;padding-top:0;padding-bottom:0;"></th>
          <th style="width:30%;padding-top:0;padding-bottom:0;"></th>
          <th style="width:45%;padding-top:0;padding-bottom:0;"></th>
          <th style="width:15%;padding-top:0;padding-bottom:0;"></th>
        </thead>
        <tbody>
          {{#each model as |artifact|}}
          <tr>
            <td class="v-align-middle">
              {{#link-to 'artifacts.show' artifact}}
                {{image-block img=artifact.picture.image.index width=100}}
              {{/link-to}}
            </td>
            <td>
              <h4 class="no-margin">
                {{#link-to 'artifacts.show' artifact class='text-black'}}{{artifact.name}}{{/link-to}}
              </h4>
            </td>
            <td>
              <p>{{artifact.description}}</p>
            </td>
            <td>
              <dl>
                <dt>Last Updated</dt>
                <dd>{{moment-format artifact.updatedAt 'LL'}}</dd>
              </dl>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="row m-b-20">
      <div class="dataTables_paginate paging_bootstrap pagination pull-right">
        {{page-numbers recordCount=total currentPage=page pageSize=size}}
      </div>

      <div class="dataTables_info">
        Showing <strong>{{startEntry}} - {{endEntry}}</strong> of {{total}} entries
      </div>
    </div>
  </div>
</div>
