<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>Affiliations</p>
        </li>
        <li><span class="active">{{model.name}}</span>
        </li>
      </ul>
      <!-- END BREADCRUMB -->

      <div class="container-md-height m-b-20">
        <div class="row row-md-height">
          <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
            <!-- START PANEL -->
            <div class="full-height">
              <div class="panel-body text-center">
                <div class="row">
                  <div class="col-sm-6">
                    {{#link-to 'people.show' model.person}}
                      {{image-block src=model.person.picture.image.show_half width=250 classes='image-responsive'}}
                    {{/link-to}}
                  </div>
                  <div class="col-sm-6">
                    {{#link-to 'places.show' model.place}}
                      {{image-block src=model.place.picture.image.show_half width=250 classes='image-responsive'}}
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <div class="col-lg-5 col-md-height col-md-6 col-top">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title">Affiliation Summary</div>
              </div>
              <div class="panel-body">
                <h3>{{model.name}}</h3>

                {{model.description}}
                <br>

                <div class="inline m-t-20">

                </div>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-md-7">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Details
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <th style="width:25%"></th>
                <th style="width:75%"></th>
              </thead>
              <tbody>
                <tr>
                  <td class="v-align-middle bold">Title</td>
                  <td class="v-align-middle">{{attribute-with-default title}}</td>
                </tr>
                <tr>
                  <td class="v-align-middle bold">Start Date</td>
                  <td class="v-align-middle">{{attribute-with-default startDate}}</td>
                </tr>
                <tr>
                  <td class="v-align-middle bold">End Date</td>
                  <td class="v-align-middle">{{attribute-with-default endDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->
